.App {
  text-align: center;
}

#btm {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

#left {
  display: flex;
  flex-direction: column;
}

#right {
  display: flex;
  flex-direction: column;
}
