main {
  background-color: #292929 !important;
  color: #ffffff;
  height: 100vh;
  display: flex;
  flex-direction: column;
  margin-top: 1em;
}

button {
  background-color: #1e1e1e;
  border-radius: 5px;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-family: Arial;
  font-size: 12px;
  margin-bottom: 3px;
}

button:hover {
  background-color: #292929;
}

button:active {
  position: relative;
  top: 1px;
}

#bottom {
  display: flex;
  justify-content: center;
  width: 100%;
}

#top_section {
  height: 800px;
  margin: 0 auto;
  background: #121212;
  display: flex;
  padding: 10px;
}

.vert_divider {
  width: 0px;
  height: 100%;
  border: 2px solid #292929;
  margin: 0px 10px;
}

.hor_divider {
  width: 100%;
  height: 0px;
  border: 2px solid #292929;
  margin: 10px 0px;
}

#assignment_btns {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  overflow-y: auto;
  width: 160px;
}

#assignment_btns::-webkit-scrollbar {
  width: 12px;
  border-radius: 15px;
  right: 0;
}

#assignment_btns::-webkit-scrollbar-thumb {
  background-color: #161616;
  border-radius: 6px;
}

#assignment_btns::-webkit-scrollbar-thumb:hover {
  background-color: #161616;
}

#assignment_btns::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

#assignment_btns button {
  padding: 10px 44px;
}

#feedback_items {
  max-width: 283px;
}

.feedback_btn_lg {
  padding: 20px 88px;
  width: 280px;
}

#feedback_default_btn_grp {
  display: flex;
  flex-direction: column;
}

#feedback_rubric {
  display: flex;
  flex-direction: column;
  overflow-y: scroll;
  height: 450px;
}

#feedback_rubric::-webkit-scrollbar {
  width: 12px;
  border-radius: 15px;
  right: 0;
}

#feedback_rubric::-webkit-scrollbar-thumb {
  background-color: #161616;
  border-radius: 6px;
}

#feedback_rubric::-webkit-scrollbar-thumb:hover {
  background-color: #161616;
}

#feedback_rubric::-webkit-scrollbar-track {
  background-color: #1e1e1e;
}

#feedback_rubric *:hover {
  background-color: #1e1e1e;
  cursor: pointer;
}

#feedback_rubric p {
  margin: 0 0;
}

.feedback_rubric_title,
.feedback_rubric_item {
  background-color: #292929;
  cursor: pointer;
}

.feedback_rubric_title {
  font-weight: 900;
}

.feedback_rubric_item {
  font-weight: 200;
}

.feedback_default_btn {
  padding: 8px 44px;
  background-color: #131313;
  color: #555555;
}

#feedback_text {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

#feedback_text_area {
  width: 375px;
  height: 500px;
  background-color: #383838;
  color: #ffffff;
  margin-bottom: 10px;
}

.feedback_text_btn {
  height: 50px;
  width: 384px;
  justify-content: center;
  margin-bottom: 3px;
}

.copy_btn {
  background-color: #373900;
  padding: 16px 176px;
}

.clear_btn {
  background-color: #333333;
}

.save_btn {
  background-color: #311c1c;
  padding: 16px 176px;
}

#feedback_prev {
  display: flex;
  flex-direction: column;
}

.feedback_prev_table_row,
.feedback_prev_table_items > * {
  display: flex;
  flex-direction: row;
  padding: 0 15px;
  cursor: pointer;
}

.feedback_prev_table_head {
  font-weight: bold;
}

.feedback_prev_table_items {
  display: flex;
  flex-direction: column;
}

.feedback_prev_table_items > * > :nth-child(1),
.feedback_prev_table_id {
  width: 30px;
}

.feedback_prev_table_items > * > :nth-child(2),
.feedback_prev_table_module {
  width: 40px;
}

.feedback_prev_table_items > * > :nth-child(3),
.feedback_prev_table_score {
  width: 50px;
}

.feedback_prev_table_items > * > :nth-child(4),
.feedback_prev_table_datetime {
  width: 220px;
}

.feedback_prev_item {
  cursor: pointer;
}

.feedback_prev_btn {
  padding: 8px 20px;
}

.feedback_prev_table_row:hover,
.feedback_prev_table_items > *:hover {
  background-color: #292929;
}

#current_score {
  margin: 0 auto;
  color: red;
  width: 100%;
  text-align: center;
}

#current_score h1 {
  margin-top: 0;
}

.wborder {
  border: 1px solid #ffffff;
}
