.App {
  text-align: center;
}

section {
  display: flex;
  flex: column;
  justify-content: center;
  margin-bottom: 2em;
}

textarea {
  font-size: 1.2em;
  font-family: sans-serif;
}

button {
  margin-right: .5em;
  padding: 1em;
  cursor: pointer;
}

#btn-copy {
  width: 10em;
}